.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}